[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
anyio = "*"
bcrypt = "*"
body = "*"
bson = "*"
cffi = "*"
click = "*"
colorama = "*"
dnspython = "*"
ecdsa = "*"
email-validator = "*"
fastapi = "*"
fastapi-jwt-auth = "*"
h11 = "*"
httpcore = "*"
httptools = "*"
httpx = "*"
idna = "*"
jwt = "*"
motor = "*"
rsa = "*"
passlib = "*"
pyasn1 = "*"
pycparser = "*"
pydantic = "*"
pyjwt = "*"
pymongo = "*"
python-dotenv = "*"
python-jose = "*"
python-multipart = "*"
pyyaml = "*"
six = "*"
sniffio = "*"
starlette = "*"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.10"
